<form method="post" action="{{ path('app_puppy_delete', {'id': puppy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ puppy.id) }}">
    <button class="btn">Delete</button>
</form>
